<%= form_with(model: @task, local: true ) do |form| %>
  <div class="">
    <div class="">
    <%= form.label :title ,"タスク名"%>
    <%= form.text_field :title %>
    </div>
    <div class="">
    <%= form.label :content ,"内容"%>
    <%= form.text_field :content %>
    </div>
  </div>
  <%= form.submit "登録する",data: { confirm: 'この内容で登録します' } %>
<% end %>

<%= link_to '一覧', root_path %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
