<%= form_with(model: @task, local: true ) do |form| %>
  <div class="">
    <div class="">
    <%= form.label :title, "タイトル"%>
    <%= form.text_field :title %>
    </div>
    <div class="">
    <%= form.label :content, "内容"%>
    <%= form.text_area :content %>
    </div>
    <div class="">
    <%= form.label :status, "ステータス"%>
    <%= form.select :status,[["未着手","未着手"],["着手中","着手中"],["完了","完了"]] %>
    </div>
    <div class="">
    <%= form.label :priority, "優先度"%>
    <%= form.select :priority,[["低","低"],["中","中"],["高","高"]] %>
    </div>
    <div class="">
    <%= form.label :limit, "期限"%>
    <%= form.date_field :limit %>
    </div>
  </div>
  <%= form.submit "登録する",data: { confirm: 'この内容で登録します' } %>
<% end %>
<br>
<%= link_to '一覧', root_path %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
