<h1>タスク管理</h1>
<%=notice%>

<div class="">
  <%= form_with url: tasks_path(sort:"search"),method: :get, local: true do |f| %>
    <%= f.hidden_field :sort ,value: :search%>
    <%= f.text_field :title %>
    <%= f.select :status,[[],["未着手","未着手"],["着手中","着手中"],["完了","完了"]] %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="">
<table>
  <tr>
    <th>No.</th>
    <th>タスク名</th>
    <th>内容</th>
    <th>ステータス</th>
    <th><%= link_to '優先度', tasks_path(sort:"priority") %></th>
    <th><%= link_to '終了期限', tasks_path(sort:"limit") %></th>
    <th><%= link_to '登録日時', tasks_path(sort:"create") %></th>
  </tr>
<%@task.each do |task|%>
  <tr>
    <td><%=task.id%></td>
    <td class="title"><%=task.title%></td>
    <td><%=task.content%></td>
    <td><%=task.status%></td>
    <td><%=task.priority%></td>
    <td><%=task.limit.strftime('%Y/%m/%d')%></td>
    <td class="create"><%=task.created_at.strftime('%Y/%m/%d')%></td>
    <td><%= link_to '詳細', task_path(task.id)%></td>
    <td><%= link_to '編集', edit_task_path(task.id) %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '削除します' } %>
  </tr>
<%end%>
</table>
</div>

<br>
<%= link_to '登録', new_task_path %>
<%= link_to 'TOP', tasks_path %>
