<h1>タスク管理 <%=current_user.name%></h1>
<%=notice%>
<br>
<div class="">
  <%= form_with url: tasks_path,method: :get, local: true do |f| %>
    <%= f.hidden_field :sort ,value: :search%>
    <span>タスク名</span>
    <%= f.text_field :title ,placeholder:"検索"%>
    <span>ステータス</span>
    <%= f.select :status,[[],["未着手","未着手"],["着手中","着手中"],["完了","完了"]] %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<br>
<div class="">
<table class="table">
  <tr>
    <th>投稿者</th>
    <th>タスク名</th>
    <th>内容</th>
    <th>ステータス</th>
    <th>
      <%= link_to '優先度', tasks_path(sort:"priority") %>
    </th>
    <th><%= link_to '終了期限', tasks_path(sort:"limit") %></th>
    <th><%= link_to '登録日時', tasks_path(sort:"create") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%@task.each do |task|%>
  <tr>
    <td><%=task.user.name%></td>
    <td class="title"><%=task.title%></td>
    <td><%=task.content%></td>
    <td><%=task.status%></td>
    <td><%=task.priority%></td>
    <td class="limit"><%=task.limit.strftime('%Y/%m/%d')%></td>
    <td class="create"><%=task.created_at.strftime('%Y/%m/%d')%></td>
    <td><%= link_to '詳細', task_path(task.id), class:"label label-warning show"%></td>
    <td><%= link_to '編集', edit_task_path(task.id), class:"label label-success"%></td>
    <td><%= link_to '削除', task_path(task.id), class:"label label-danger",method: :delete ,data: { confirm: '削除します' } %>
  </tr>
<%end%>
</table>
</div>

<%= paginate @task %>
<br>
<%= link_to '登録', new_task_path %>
<%= link_to 'TOP', tasks_path %>
